@model MVC.Models.ViewModels.BrandModelViewModel
@{
    ViewData["Title"] = "Marcas y Modelos";
}

<div class="justify-content-between">
    <section class="row mb-5">
        @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
        <form asp-action="NewBrand" class="col-12 col-lg-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BrandRecord.Entidad" value="Aeronave"/>
            <h3>Nueva Marca de Aeronave</h3>
            <div class="form-group">
                <label asp-for="BrandRecord.Nombre" class="control-label"></label>
                <input asp-for="BrandRecord.Nombre" class="form-control" />
                <span asp-validation-for="BrandRecord.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
        @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
        <form asp-action="NewBrand" class="col-12 col-lg-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h3>Nueva Marca de Motor</h3>
            <input type="hidden" asp-for="BrandRecord.Entidad" value="Motor"/>
            <div class="form-group">
                <label asp-for="BrandRecord.Nombre" class="control-label"></label>
                <input asp-for="BrandRecord.Nombre" class="form-control" />
                <span asp-validation-for="BrandRecord.Nombre" class="text-danger"></span>
            </div>
             <div class="form-group mt-3">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
        @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
        <form asp-action="NewBrand" class="col-12 col-lg-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h3>Nueva Marca de Hélice</h3>
            <input type="hidden" asp-for="BrandRecord.Entidad" value="Helice"/>
            <div class="form-group">
                <label asp-for="BrandRecord.Nombre" class="control-label"></label>
                <input asp-for="BrandRecord.Nombre" class="form-control" />
                <span asp-validation-for="BrandRecord.Nombre" class="text-danger"></span>
            </div>
             <div class="form-group mt-3">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
        @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
    </section>
    <section class="row">
        @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
        <form asp-action="NewModel" class="col-12 col-lg-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h3>Nuevo Modelo de Aeronave</h3>
            <input type="hidden" asp-for="ModelRecord.Entity" value="Aeronave"/>
            <div class="form-group">
                <label asp-for="ModelRecord.BrandID" class="control-label"></label>
                <select asp-for="ModelRecord.BrandID" asp-items="Model.MarcasAeronave" class="form-control">
                    <option value="">Seleccione una marca</option>
                </select>
                <span asp-validation-for="ModelRecord.BrandID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelRecord.Name" class="control-label"></label>
                <input asp-for="ModelRecord.Name" class="form-control" />
                <span asp-validation-for="ModelRecord.Name" class="text-danger"></span>
            </div>
             <div class="form-group mt-3">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
        @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
        <form asp-action="NewModel" class="col-12 col-lg-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h3>Nuevo Modelo de Motor</h3>
            <input type="hidden" asp-for="ModelRecord.Entity" value="Motor"/>
            <div class="form-group">
                <label asp-for="ModelRecord.BrandID" class="control-label"></label>
                <select asp-for="ModelRecord.BrandID" asp-items="Model.MarcasMotor" class="form-control">
                    <option value="">Seleccione una marca</option>
                </select>
                <span asp-validation-for="ModelRecord.BrandID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelRecord.Name" class="control-label"></label>
                <input asp-for="ModelRecord.Name" class="form-control" />
                <span asp-validation-for="ModelRecord.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelRecord.ReplaceHrs" class="control-label"></label>
                <input id="txtEngineHrs" asp-for="ModelRecord.ReplaceHrs" class="form-control integer-input" />
                <label id="txtEngineHrs"></label>
                <span id="lblEngineHrs" asp-validation-for="ModelRecord.ReplaceHrs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelRecord.Years" class="control-label"></label>
                <input asp-for="ModelRecord.Years" class="form-control integer-input" />
                <span asp-validation-for="ModelRecord.Years" class="text-danger"></span>
            </div>
             <div class="form-group mt-3">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
        @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
        <form asp-action="NewModel" class="col-12 col-lg-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <h3>Nuevo Modelo de Hélice</h3>
            <input type="hidden" asp-for="ModelRecord.Entity" value="Helice"/>
            <div class="form-group">
                <label asp-for="ModelRecord.BrandID" class="control-label"></label>
                <select asp-for="ModelRecord.BrandID" asp-items="Model.MarcasHelice" class="form-control">
                    <option value="">Seleccione una marca</option>
                </select>
                <span asp-validation-for="ModelRecord.BrandID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelRecord.Name" class="control-label"></label>
                <input asp-for="ModelRecord.Name" class="form-control" />
                <span asp-validation-for="ModelRecord.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelRecord.ReplaceHrs" class="control-label"></label>
                <input asp-for="ModelRecord.ReplaceHrs" class="form-control integer-input" />
                <span asp-validation-for="ModelRecord.ReplaceHrs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelRecord.Years" class="control-label"></label>
                <input asp-for="ModelRecord.Years" class="form-control integer-input" />
                <span asp-validation-for="ModelRecord.Years" class="text-danger"></span>
            </div>
             <div class="form-group mt-3">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
        @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
    </section>  
</div>

<script>

    // Selecciona el elemento de input por su id
    var inputElement = document.getElementById("txtEngineHrs");
    // Selecciona el elemento de span por su id
    var spanElement = document.getElementById("lblEngineHrs");

    // Agrega un manejador de eventos "input" al elemento de input
    inputElement.addEventListener("input", function() {
        var value = inputElement.value;
        if (value.includes(".")) {
            // Cambia el contenido del span si se detecta un número decimal
            spanElement.textContent = "El valor contiene un número con punto decimal.";
        }
    });

    // Selecciona todos los elementos con la clase especificada
//var elements = document.querySelectorAll(".integer-input");

//// Agrega un manejador de eventos de input a cada elemento
//elements.forEach(function(element) {
//    element.addEventListener("input", function() {
//        var value = element.value;
//        if (value.includes(".")) {
//            alert("El valor contiene un número con punto decimal.");
//        }
//    });
//});
    //document.addEventListener("DOMContentLoaded", function() {
    //    var yearsInput = document.getElementById("ModelRecord_Years");
    //    if (yearsInput) {
    //        yearsInput.validationMessage = "Por favor, ingrese un múltiplo de 1.";
    //    }
    //});
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


