:root {
    /* \\\\\\\\\\\\\ BACKGROUNDS COLORS \\\\\\\\\\\\\\\\\ */
    --bg-eas: #365f91;
    --bg-serene: #3a6a9e;
    --bg-pale: #4182b5;
    --bg-celestial: #4b8fbf;
    --bg-intense: #559fcf;
    --bg-bright: #5faedf;
    --bg-bluelight: #7CCDFF;
    --bg-grayblue: #B0BBC1;
    /* \\\\\\\\\\\\\ TEXT COLORS \\\\\\\\\\\\\\\\\ */
    --color-eas: #365f91;
    --color-serene: #3a6a9e;
    --color-pale: #4182b5;
    --color-celestial: #4b8fbf;
    --color-intense: #559fcf;
    --color-bright: #5faedf;
    --color-bluelight: #7CCDFF;
    --color-grayblue: #B0BBC1;
}

.brandForm{
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.brandImput{
    width:85%;
    margin:auto;
    border:none;
    border-radius:5px;
}

.brandBtn {
    width: 86%;
    padding:1%;
    border-radius:5px;
    margin:auto;
    border:var(--color-grayblue) solid;
    font-weight:bold;
}


.modelForm {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.medelBtn {
    width: 95%;
    margin: auto;
    border-radius:5px;
    border:none;
}

input:focus {
    outline: none;
}

@media(max-width:1000px) {
    .brandForm {
        width: 100%;
    }
    .modelForm {
        width: 100%;
    }
}