:root {
    /* \\\\\\\\\\\\\ VARS COLORS \\\\\\\\\\\\\\\\\ */
    --eas: #365f92;
    --serene: #3a6a9e;
    --pale: #4182b5;
    --celestial: #4b8fbf;
    --intense: #559fcf;
    --bright: #5faedf;
    --bluelight: #7CCDFF;
    --grayblue: #B0BBC1;
    --graylight: #E7ECF3;
    --grayserene: #EEF2FB;
    --gray: #A3A6AB;
    --grayDark: #3c3c3c;
}

/* \\\\\\\\\\\\\ CLASSES \\\\\\\\\\\\\\\\\ */
.bg-eas{background-color:var(--eas)}
.bg-serene{background-color:var(--serene)}
.bg-pale{background-color:var(--pale)}
.bg-celestial{background-color:var(--celestial)}
.bg-intense{background-color:var(--intense)}
.bg-bright{background-color:var(--bright)}
.bg-bluelight{background-color:var(--bluelight)}
.bg-grayblue {background-color:var(--grayblue)}
.bg-graylight{background-color:var(--graylight)}
.bg-gray{background-color:var(--gray)}
.bg-grayserene{background-color:var(--grayserene)}
.bg-grayDark{background-color:var(--grayDark)}

.color-eas{color:var(--eas)}
.color-serene{color:var(--serene)}
.color-pale{color:var(--pale)}
.color-celestial{color:var(--celestial)}
.color-intense{color:var(--intense)}
.color-bright{color:var(--bright)}
.color-bluelight{color:var(--bluelight)}
.color-grayblue {color:var(--grayblue)}
.color-graylight{color:var(--graylight)}
.color-gray{color:var(--gray)}
.color-grayDark{color:var(--grayDark)}
.color-grayserene{background-color:var(--grayserene)}



.border-eas{border:solid 2px var(--eas)}
.border-serene{border:solid 2px var(--serene)}
.border-pale{border:solid 2px var(--pale)}
.border-celestial{border:solid 2px var(--celestial)}
.border-intense{border:solid 2px var(--intense)}
.border-bright{border:solid 2px var(--bright)}
.border-bluelight{border:solid 2px var(--graylight)}
.border-grayblue{border:solid 2px var(--grayblue)}
.border-gray{border:solid 2px var(--gray)}
.border-graylight{border:solid 2px var(--graylight)}
,border-grayserene{border:solid 2px var(--grayserene)}

/* °°°°°°°°°°°°°°°° DOM °°°°°°°°°°°°°°°°°°°°°°°°°° */
* {box-sizing: border-box; margin: 0; padding:0; }

/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/
/*Menu Slide*/
/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/

.menu { height: 2.5rem; cursor: pointer; }
.cont-icon{display:flex; justify-content:center; }

.slide-menu {
    width: 5%;
    height: 100vh;
    transition: width 0.4s ease-in-out;
}
.overlay {
    display: none;
    position: fixed;
    left: 15%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 99;
    animation: showOverlay 1s forwards;
}
#logoSlide {visibility: hidden;}
.logoSlide {height:2.1rem;}

.logo{ height:2.3rem; }

/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/
/*Nav*/
/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/
.nav-movil {display: none;}

#settingsIcon {
    cursor: pointer;
    height: 2.5rem;
    margin-right: 3rem;
}

#optionsMenu {
    display: none;
    position: absolute;
    border-radius: 15px;
    text-align: center;
    margin-top: .5rem;
    right: 1%;
    min-width: 10rem;
    z-index: 3;
    border: dashed 3px var(--eas);
}

/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/
/*Switch*/
/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/

.switch-label { margin-right: 5px; }

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212529;
    transition: 0.4s;
    border-radius: 20px;
} 

    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
    }

input:checked + .slider { background-color: var(--eas); }

    input:checked + .slider:before { transform: translateX(16px); }

.slider.round { border-radius: 20px; }

    .slider.round:before { border-radius: 50%; }


/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/
/*Content*/
/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/
.content {
    height: 100vh;
    transition: width 0.4s ease-in-out;
    width: 95%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding:0;
}
.contentW {
    width: 85%;
    height: 100vh;
    transition: width 0.4s ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.render{ height:100%; overflow:auto; width:100%; align-self:center; justify-content:center; }


/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/
/*Media*/
/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/


@keyframes showOverlay {
    from {opacity: 0; transform: translate(-25%,-50%) scale(0.5); }

    to { opacity: 1; transform: scale(1); }
}


@media(max-width:1000px) {
    .slide-menu,.settings { display:none; }
    .nav-movil{display:block;}
    .logo{ height:auto; }
    .render {
        height: 100%;
        overflow:visible;
    }

    .content {
        width: 100%;
    }

}