/* \\\\\\\\\\\\\ VARS COLORS \\\\\\\\\\\\\\\\\ */
:root {
    --eas: #365f92;
    --serene: #3a6a9e;
    --pale: #4182b5;
    --celestial: #4b8fbf;
    --intense: #559fcf;
    --bright: #5faedf;
    --bluelight: #7CCDFF;
    --darkgray: #252424;
    --anthracitegray: #3c3c3c;
    --charcoalgray: #333333;
    --lightgray: #eeeded;
    --gray: #A3A6AB;
}

/* /////////////// DOM \\\\\\\\\\\\\\\\\ */

main {
    width: 100%;
    height: 100vh;
}


/* /////// SLIDER \\\\\\\\\ */

#menu {
    width: 5%;
    height: 100vh;
    transition: width 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
}

.content-bars {
    justify-content: center;
    display: flex;
}


#bars {
    height: 3rem;
    cursor: pointer;
}

#slider-logo {
    visibility: hidden;
}

.options {
    flex-grow: 1;
}

/* /////// OVERLAY \\\\\\\\\ */

.overlay {
    display: none;
    position: fixed;
    left: 15%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 99;
    animation: showOverlay .8s forwards;
}

/* /////// CONTENT \\\\\\\\\ */

.content {
    transition: width 0.4s ease-in-out;
    width: 95%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-direction: column;
    padding: 0;
}

.contentW {
    width: 85%;
    height: 100vh;
    transition: width 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 0;
}

/*°°°°°°°°°°°°°°°°° -NAVBAR- °°°°°°°°°°°°°°°°°°°°°°°°°°°°*/

.logo {
    height: 2rem;
}


#settingsIcon {
    cursor: pointer;
    height: 2.5rem;
    margin-right: 3rem;
}

#optionsMenu {
    display: none;
    position: absolute;
    border-radius: 15px;
    text-align: center;
    margin-top: .5rem;
    right: 1%;
    min-width: 10rem;
    z-index: 3;
    border: dashed 3px var(--eas);
}

.options-icon{height:3rem;}
.titles {
    display:none;
    padding-left:2rem;
}
a {
    color: aliceblue;
    text-decoration: none;
}
a:hover {
    color: aliceblue;
    transform:scale(1.1)
}
/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/
/*Switch*/
/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/

.switch-label {
    margin-right: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212529;
    transition: 0.4s;
    border-radius: 20px;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
    }

input:checked + .slider {
    background-color: var(--gray);
}

    input:checked + .slider:before {
        transform: translateX(16px);
    }

.slider.round {
    border-radius: 20px;
}

    .slider.round:before {
        border-radius: 50%;
    }

/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/
/*RENDER*/
/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/
.render {
    flex-grow: 1;
    overflow-y: auto;
    height: 100vh;
}
.shadow{ box-shadow: 3px 3px 3px 3PX var(--gray);}


/* /////// MEDIA \\\\\\\\\ */
@media(max-width:1000px) {
    #menu {
        display: none;
    }

    .content {
        width: 100%;
        margin: auto;
    }

    .logo {
        height: 1.2rem;
    }
}

@keyframes showOverlay {
    from {
        opacity: 0;
        transform: translate(-25%,-50%) scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
