*{box-sizing:border-box; margin:0;}
:root {
    /* \\\\\\\\\\\\\ BACKGROUNDS COLORS \\\\\\\\\\\\\\\\\ */
    --bg-eas: #365f91;
    --bg-serene: #3a6a9e;
    --bg-pale: #4182b5;
    --bg-celestial: #4b8fbf;
    --bg-intense: #559fcf;
    --bg-bright: #5faedf;
    /* \\\\\\\\\\\\\ TEXT COLORS \\\\\\\\\\\\\\\\\ */
    --color-eas: #365f91;
    --color-serene: #3a6a9e;
    --color-pale: #4182b5;
    --color-celestial: #4b8fbf;
    --color-intense: #559fcf;
    --color-bright: #5faedf;
}

/* 같같같같같같같같 DOM 같같같같같같같같같같같같같 */

/* \\\\\\\\\\\\\ CLASSES \\\\\\\\\\\\\\\\\ */
.bg-eas{background-color:var(--bg-eas)}
.bg-serene{background-color:var(--bg-serene)}
.bg-pale{background-color:var(--bg-pale)}
.bg-celestial{background-color:var(--bg-celestial)}
.bg-intense{background-color:var(--bg-intense)}
.bg-bright{background-color:var(--bg-bright)}

.color-eas{color:var(--bg-eas)}
.color-serene{color:var(--bg-serene)}
.color-pale{color:var(--bg-pale)}
.color-celestial{color:var(--bg-celestial)}
.color-intense{color:var(--bg-intense)}
.color-bright{color:var(--bg-bright)}

