.table {
    width: 100%;
    margin: auto;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 0 0 10px 10px;
    height: 90%;
    padding: 0;
    box-shadow: 0px 3px 7px var(--pale);
    text-align:center;
}

<<<<<<< HEAD
    .table thead {
        background: var(--gray);
        border: none;
    }
        .table thead  th {
            border-collapse: separate;
            border-radius: 0px;
            border: none;
        }

    .table tbody tr td {border: none;}
    .table tbody tr:hover { background: var(--bright); }
=======
.cont-table-model{height:20vh; overflow:auto; width:97%; margin:auto;}

.thead{position:sticky; top:-1%; z-index:1;}

thead tr th {border:solid 2px white;}
>>>>>>> d2ad02ad2135cc1de048b394d9fef1b4bcfb1868

.rowsPerPage {
    width: 90%;
    margin: auto;
    border: none;
    background: var(--pale);
    border: dashed white 2px;
    color: aliceblue;
    text-align: center;
    border-radius: 5px;
}

<<<<<<< HEAD
.paginated {height: 15%;}

=======
.cont-table-brand{ height:30vh; overflow:auto; width:97%; margin:auto;}
.cont-table-brand thead th {border:solid 1px white;}
table tbody tr td{border:solid 2px; padding:.5%;}
.cont-table-brand-plane{height:33vh; overflow:auto;}
.table-model-plane{height:60vh; overflow:auto;}

tbody tr:hover { background-color: var(--grayDark);}

/* °°°°°°°°°°°°°°°°° Estilos para la paginación °°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
#rowsPerPage {
    width: auto;
    border: none;
    border-radius: 5px;
}
>>>>>>> d2ad02ad2135cc1de048b394d9fef1b4bcfb1868

    .paginated a {
        color: white;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        margin: 0 4px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background: var(--gray)
    }

<<<<<<< HEAD
        .paginated a.active {
            background-color: var(--bright);
            border-radius: 10px;
        }
=======
        #paginated a.active { background-color: var(--bright); }

        #paginated a:hover:not(.active) { background-color: #ddd; color: var(--eas); }



@media(max-width:1100px) {
        .table-model-plane{height:83vh; overflow:auto;}

}

@media(max-width:1000px) {
        .table-model-plane{height:50vh; overflow:auto;}

}



















>>>>>>> d2ad02ad2135cc1de048b394d9fef1b4bcfb1868

        .paginated a:hover:not(.active) {
            background-color: #ddd;
            color: var(--eas);
            border-radius: 10px;
        }





/* \\\\\\\\\\\\\ SWITCH \\\\\\\\\\\\\\\\\ */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

    .toggle-switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.toggle-switch-background {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1AD800;
    border-radius: 17px;
    transition: background-color 0.4s;
}

.toggle-switch-handle {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s;
}

.toggle-switch input:checked + .toggle-switch-background {
    background-color: red;
}

    .toggle-switch input:checked + .toggle-switch-background .toggle-switch-handle {
        transform: translateX(13px);
    }
