:root {
    /* \\\\\\\\\\\\\ VARS COLORS \\\\\\\\\\\\\\\\\ */
    --eas: #365f92;
    --serene: #3a6a9e;
    --pale: #4182b5;
    --celestial: #4b8fbf;
    --intense: #559fcf;
    --bright: #5faedf;
    --bluelight: #7CCDFF;
    --grayblue: #B0BBC1;
    --graylight: #E7ECF3;
    --grayserene: #EEF2FB;
    --gray: #A3A6AB;
    --grayDark: #3c3c3c;
}

.cont-table-model{height:20vh; overflow:auto; width:97%; margin:auto;}
.cont-table-model table tbody tr td{border:solid white; padding:1%}

.thead{position:sticky; top:-1%; z-index:1;}
.thead th{border:solid 1px;}
.thead .th{border:none;}

table{width:100%;}

.cont-table-brand{ height:30vh; overflow:auto; width:97%; margin:auto;}
.cont-table-brand thead th {border:solid 1px white;}
.cont-table-brand table tbody tr td{border:solid white; padding:1%;}
.cont-table-brand-plane{height:33vh; overflow:auto;}
.cont-table-model-plane{height:40vh; overflow:auto;}

/* °°°°°°°°°°°°°°°°° Estilos para la paginación °°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
#rowsPerPage {
    width: auto;
    border: none;
    border-radius: 5px;
}

#table{border-radius:5px;}
#table th, #table td { padding: 1%; border:2px solid white;}
#table .th{border:none;}

#paginated { margin-top: 10px; }

    #paginated a {
        color: white;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        margin: 0 4px;
        border: 1px solid #ddd;
        background:var(--gray)
    }

        #paginated a.active { background-color: var(--bright); }

        #paginated a:hover:not(.active) { background-color: #ddd; color: var(--eas); }




























/* \\\\\\\\\\\\\ SWITCH \\\\\\\\\\\\\\\\\ */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

    .toggle-switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.toggle-switch-background {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1AD800;
    border-radius: 17px;
    transition: background-color 0.4s;
}

.toggle-switch-handle {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s;
}

.toggle-switch input:checked + .toggle-switch-background {
    background-color: red;
}

    .toggle-switch input:checked + .toggle-switch-background .toggle-switch-handle {
        transform: translateX(13px);
    }




@media(max-width:1000px){
    .cont-table-model{height:27vh;}

}