<section class="row title border-celestial rounded-3 my-3">

    <h1><b><span class="color-celestial">C</span>ONCEPTO PLANEADOR</b></h1>

</section>

<section class="p my-2 row title border-eas bg-gray rounded-3">

    <aside class="col-12 col-lg-2 p-2 d-flex flex-column justify-content-center ">

        <h4><b><span class="color-eas">M</span>ARCA PLANEADOR</b></h4>

        <form>

            <div class="row justify-content-center ">
                <h5><b>Nombre</b></h5>
                <input class="input-Form" type="text" />
            </div>

            <div class="row py-3">
                <input type="submit" class="submit " value="Agregar" />
            </div>

        </form>

    </aside>



    <aside class="col-12 col-lg-10 bg-celestial">

        <div class="cont-table-brand-plane mt-2 mb-2">

            <table >

                <thead class="thead  bg-gray ">

                    <tr>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Editar</th>
                    </tr>

                </thead>

                <tbody class="tbody bg-serene text-light border">

                    <tr>
                        <td>Lore</td>
                        <td>
                            <label class="toggle-switch">
                                <input class="chbTable" type="checkbox">
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                    </tr>

                </tbody>

            </table>

        </div>

    </aside>


</section>


<section class="p row title border-eas bg-gray rounded-3 my-2">

    <aside class="col-12 col-lg-2 p-2 d-flex flex-column justify-content-center ">

        <h4><b><span class="color-eas">M</span>ODELO</b></h4>

        <form>

            <div class="row justify-content-center  d-flex align-items-center">
                <h5><b>Marca</b></h5>
                <input class="input-Form" type="text" />
            </div>

            <div class="row justify-content-center mb-2 ">
                <h5><b>Nombre</b></h5>
                <input class="input-Form" type="text" />
            </div>

            <h5><b>Tiempor de remplazo</b></h5>

            <div class="row my-3">

                <div class="col">
                    <input class="input-Form" type="number" />
                    Horas
                </div>
                :
                <div class="col">
                    <input class="input-FormTwin" type="number" />
                    Minutos
                </div>

            </div>
            
            <div class="row my-3">

                <div class="col">
                    <select class="input-FormTwin ">
                        <option value="Maraca" selected></option>
                        <option value="Maraca1">Años</option>
                        <option value="Maraca1">Meses</option>
                    </select>
                    Unidad de tiempo
                </div>

                <div class="col">
                    <input class="input-FormTwin" type="number" />
                    cantidad
                </div>

            </div>

            <div class="row py-3">
                <input type="submit" class="submit " value="Agregar" />
            </div>

        </form>

    </aside>

    <aside class="col-12 col-lg-10 bg-celestial ">

        <div class="table-model-plane my-2 ">

            <table>

                <thead class="thead border border-3 bg-gray text-dark">

                    <tr>
                        <th>Nombre</th>
                        <th>Nombre</th>
                        <th>Nombre</th>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Editar</th>
                    </tr>

                </thead>

                <tbody class="tbody bg-serene text-light border">

                    <tr>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>
                            <label class="toggle-switch">
                                <input class="chbTable" type="checkbox">
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                    </tr>
                    
                    <tr>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>
                            <label class="toggle-switch">
                                <input class="chbTable" type="checkbox">
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                    </tr>
                    <tr>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>
                            <label class="toggle-switch">
                                <input class="chbTable" type="checkbox">
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                    </tr>
                    <tr>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>
                            <label class="toggle-switch">
                                <input class="chbTable" type="checkbox">
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                    </tr>
                    <tr>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>
                            <label class="toggle-switch">
                                <input class="chbTable" type="checkbox">
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                    </tr>
                    <tr>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>
                            <label class="toggle-switch">
                                <input class="chbTable" type="checkbox">
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                    </tr>
                    <tr>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>
                            <label class="toggle-switch">
                                <input class="chbTable" type="checkbox">
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                    </tr>
                    <tr>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>
                            <label class="toggle-switch">
                                <input class="chbTable" type="checkbox">
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                    </tr>
                    <tr>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>
                            <label class="toggle-switch">
                                <input class="chbTable" type="checkbox">
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                    </tr>
                    <tr>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>
                            <label class="toggle-switch">
                                <input class="chbTable" type="checkbox">
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                    </tr>

                    <tr>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>
                            <label class="toggle-switch">
                                <input class="chbTable" type="checkbox">
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                    </tr>
                    <tr>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>
                            <label class="toggle-switch">
                                <input class="chbTable" type="checkbox">
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                    </tr>
                    <tr>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>
                            <label class="toggle-switch">
                                <input class="chbTable" type="checkbox">
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                    </tr>
                    <tr>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>
                            <label class="toggle-switch">
                                <input class="chbTable" type="checkbox">
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                    </tr>
                    <tr>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>
                            <label class="toggle-switch">
                                <input class="chbTable" type="checkbox">
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                    <tr>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>
                            <label class="toggle-switch">
                                <input class="chbTable" type="checkbox">
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                    </tr>
                    <tr>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>
                            <label class="toggle-switch">
                                <input class="chbTable" type="checkbox">
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                    </tr>
                    <tr>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>
                            <label class="toggle-switch">
                                <input class="chbTable" type="checkbox">
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                    </tr>
                    <tr>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>
                            <label class="toggle-switch">
                                <input class="chbTable" type="checkbox">
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                    </tr>
                    <tr>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>
                            <label class="toggle-switch">
                                <input class="chbTable" type="checkbox">
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                    </tr>
                    <tr>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>
                            <label class="toggle-switch">
                                <input class="chbTable" type="checkbox">
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                    </tr>
                    <tr>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>Lore</td>
                        <td>
                            <label class="toggle-switch">
                                <input class="chbTable" type="checkbox">
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                    </tr>
                    </tr>
                </tbody>

            </table>

        </div>

    </aside>


</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_TableScripts");
    }
}