<section class="row title rounded-3 border-celestial mt-2">
    <h1><b><span class="color-intense">V</span>ARIANTE</b></h1>
</section>

<section class="p my-2 row forms">

    <aside class="col-12 col-lg-4 p my-2">

        <div class="form-brand border border-3 bg-pale container-fluid">

            <h2 class="py-2"><b>Tipo</b></h2>

            <form>

                <div class="row justify-content-center ">
                    <h5><b>Nombre</b></h5>
                    <input class="input-Form" type="text" />
                </div>

                <div class="row py-3">
                    <input type="submit" class="submit " value="Agregar" />
                </div>

            </form>


            @* ******************************  -TABLE-  ******************************* *@

            <div class="cont-table-brand mt-2 mb-2">

                <table>

                    <thead class="thead bg-gray text-dark">

                        <tr>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Editar</th>
                        </tr>

                    </thead>

                    <tbody class="tbody bg-serene text-light border">

                        <tr>
                            <td>Lore</td>
                            <td>
                                <label class="toggle-switch">
                                    <input class="chbTable" type="checkbox">
                                    <div class="toggle-switch-background">
                                        <div class="toggle-switch-handle"></div>
                                    </div>
                                </label>
                            </td>
                            <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                        </tr>

                    </tbody>

                </table>

            </div>

        </div>

    </aside>

    <aside class="col-12 col-lg-8 p my-2">

        <div class="form-model bg-celestial rounded-2 border border-3 container-fluid ">

            <h2 class="py-2"><b>Variante</b></h2>
            <form>

                <div class="row">

                    <div class="col">

                        <h4><b>Marca</b></h4>

                        <select class="input-Form">
                            <option value="Maraca" selected></option>
                            <option value="Maraca1">Marca</option>
                        </select>


                    </div>

                    <div class="col">

                        <h4><b>Nombre</b></h4>
                        <input class="input-Form border-gray" type="text" />

                    </div>

                </div>

                <div class="row py-2">

                    <div class="col">

                        <h4><b>Horas de remplazo</b></h4>

                        <div class="row">

                            <div class="col d-flex flex-column">
                                <input class="input-FormTwin text-center" type="number" />
                                Hora
                            </div>:

                            <div class="col">
                                <input class="input-FormTwin text-center" type="number" />
                                Minutos
                            </div>

                        </div>

                    </div>

                    <div class="col">

                        <h4><b>Tiempo de remplazo</b></h4>

                        <div class="row">

                            <div class="col">
                                <select class="input-FormTwin ">
                                    <option value="Maraca" selected></option>
                                    <option value="Maraca1">Años</option>
                                    <option value="Maraca1">Meses</option>
                                </select>
                                Unidad de tiempo
                            </div>

                            <div class="col">
                                <input class="input-FormTwin" type="number" />
                                cantidad
                            </div>

                        </div>

                    </div>

                </div>

                <div class="row">

                    <input type="submit" class="submit-Model " value="Agregar" />

                </div>

            </form>

            @* ******************************  -TABLE-  ******************************* *@

            <div class="cont-table-model  mt-2 mb-2">

                <table >

                    <thead class="thead bg-grayDark text-light">
                        <tr>
                            <th class="th"></th>
                            <th class="th"></th>
                            <th colspan="2">Tiempo de remplazo</th>
                            <th class="th"></th>
                            <th class="th"></th>
                        </tr>
                        <tr>
                            <th>Marca</th>
                            <th>Nombre</th>
                            <th>Horas</th>
                            <th>Años</th>
                            <th>Estado</th>
                            <th>Editar</th>
                        </tr>

                    </thead>

                    <tbody class="tbody bg-eas border">

                        <tr>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>
                                <label class="toggle-switch">
                                    <input class="chbTable" type="checkbox">
                                    <div class="toggle-switch-background">
                                        <div class="toggle-switch-handle"></div>
                                    </div>
                                </label>
                            </td>
                            <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                        </tr>


                        <tr>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>
                                <label class="toggle-switch">
                                    <input class="chbTable" type="checkbox">
                                    <div class="toggle-switch-background">
                                        <div class="toggle-switch-handle"></div>
                                    </div>
                                </label>
                            </td>
                            <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                        </tr>

                        <tr>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>
                                <label class="toggle-switch">
                                    <input class="chbTable" type="checkbox">
                                    <div class="toggle-switch-background">
                                        <div class="toggle-switch-handle"></div>
                                    </div>
                                </label>
                            </td>
                            <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                        </tr>

                        <tr>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>
                                <label class="toggle-switch">
                                    <input class="chbTable" type="checkbox">
                                    <div class="toggle-switch-background">
                                        <div class="toggle-switch-handle"></div>
                                    </div>
                                </label>
                            </td>
                            <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                        </tr>
                        <tr>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>
                                <label class="toggle-switch">
                                    <input class="chbTable" type="checkbox">
                                    <div class="toggle-switch-background">
                                        <div class="toggle-switch-handle"></div>
                                    </div>
                                </label>
                            </td>
                            <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                        </tr>

                        <tr>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>
                                <label class="toggle-switch">
                                    <input class="chbTable" type="checkbox">
                                    <div class="toggle-switch-background">
                                        <div class="toggle-switch-handle"></div>
                                    </div>
                                </label>
                            </td>
                            <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                        </tr>

                        <tr>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>
                                <label class="toggle-switch">
                                    <input class="chbTable" type="checkbox">
                                    <div class="toggle-switch-background">
                                        <div class="toggle-switch-handle"></div>
                                    </div>
                                </label>
                            </td>
                            <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                        </tr>

                        <tr>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>
                                <label class="toggle-switch">
                                    <input class="chbTable" type="checkbox">
                                    <div class="toggle-switch-background">
                                        <div class="toggle-switch-handle"></div>
                                    </div>
                                </label>
                            </td>
                            <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                        </tr>

                        <tr>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>
                                <label class="toggle-switch">
                                    <input class="chbTable" type="checkbox">
                                    <div class="toggle-switch-background">
                                        <div class="toggle-switch-handle"></div>
                                    </div>
                                </label>
                            </td>
                            <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                        </tr>

                        <tr>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>
                                <label class="toggle-switch">
                                    <input class="chbTable" type="checkbox">
                                    <div class="toggle-switch-background">
                                        <div class="toggle-switch-handle"></div>
                                    </div>
                                </label>
                            </td>
                            <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                        </tr>

                        <tr>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>
                                <label class="toggle-switch">
                                    <input class="chbTable" type="checkbox">
                                    <div class="toggle-switch-background">
                                        <div class="toggle-switch-handle"></div>
                                    </div>
                                </label>
                            </td>
                            <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                        </tr>

                        <tr>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>
                                <label class="toggle-switch">
                                    <input class="chbTable" type="checkbox">
                                    <div class="toggle-switch-background">
                                        <div class="toggle-switch-handle"></div>
                                    </div>
                                </label>
                            </td>
                            <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                        </tr>

                        <tr>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>
                                <label class="toggle-switch">
                                    <input class="chbTable" type="checkbox">
                                    <div class="toggle-switch-background">
                                        <div class="toggle-switch-handle"></div>
                                    </div>
                                </label>
                            </td>
                            <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                        </tr>

                        <tr>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>
                                <label class="toggle-switch">
                                    <input class="chbTable" type="checkbox">
                                    <div class="toggle-switch-background">
                                        <div class="toggle-switch-handle"></div>
                                    </div>
                                </label>
                            </td>
                            <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                        </tr>

                        <tr>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>
                                <label class="toggle-switch">
                                    <input class="chbTable" type="checkbox">
                                    <div class="toggle-switch-background">
                                        <div class="toggle-switch-handle"></div>
                                    </div>
                                </label>
                            </td>
                            <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                        </tr>

                        <tr>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>
                                <label class="toggle-switch">
                                    <input class="chbTable" type="checkbox">
                                    <div class="toggle-switch-background">
                                        <div class="toggle-switch-handle"></div>
                                    </div>
                                </label>
                            </td>
                            <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                        </tr>

                        <tr>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>
                                <label class="toggle-switch">
                                    <input class="chbTable" type="checkbox">
                                    <div class="toggle-switch-background">
                                        <div class="toggle-switch-handle"></div>
                                    </div>
                                </label>
                            </td>
                            <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                        </tr>

                        <tr>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>
                                <label class="toggle-switch">
                                    <input class="chbTable" type="checkbox">
                                    <div class="toggle-switch-background">
                                        <div class="toggle-switch-handle"></div>
                                    </div>
                                </label>
                            </td>
                            <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                        </tr>

                        <tr>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>Lore</td>
                            <td>
                                <label class="toggle-switch">
                                    <input class="chbTable" type="checkbox">
                                    <div class="toggle-switch-background">
                                        <div class="toggle-switch-handle"></div>
                                    </div>
                                </label>
                            </td>
                            <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
                        </tr>

                    </tbody>

                </table>

            </div>


        </div>

    </aside>

</section>

<section class="container-fluid title rounded-3 border-celestial mybg-opacity-25 bg-bluelight ">

    <h3 class="py-2"><b>BUSCADORES</b></h3>

    <aside class="row d-flex align-items-center text-center justify-content-center my-2">

        <div class="col-12 col-lg-3 d-flex align-items-center  p">
          
            <div class="row  w-100">

                <div class="col">

                    <h3>Marca</h3>

                </div>
                <div class="col">

                    <select class="input-search my-2 ">
                        <option value="Maraca" selected></option>
                        <option value="Maraca1">Años</option>
                        <option value="Maraca1">Meses</option>
                    </select>

                </div>

            </div>
            
        </div>

        <div class="col-12 col-lg-3 d-flex align-items-center p">

            <div class="row  w-100">

                <div class="col">

                    <h3>Modelo</h3>

                </div>
                <div class="col">

                    <select class="input-search my-2 ">
                        <option value="Maraca" selected></option>
                        <option value="Maraca1">Años</option>
                        <option value="Maraca1">Meses</option>
                    </select>

                </div>

            </div>

        </div>

        <div class="col-12 col-lg-3 d-flex align-items-center  p">

            <div class="row  w-100">

                <div class="col">

                    <h3 >Planeador</h3>

                </div>
                <div class="col  align-items-center justify-content-center d-flex">

                    <input class="input-search " type="text" />

                </div>

            </div>

        </div>

        <div class="col-12 col-lg-3 d-flex p-2">

            <input type="submit" class="submit " value="Buscar" />

        </div>


    </aside>

</section>

<section class="row title border-T justify-content-end mt-3 bg-celestial p-2">

    <div class="col-6 col-lg-10 text-end">

        <h3>Resultados por pagina: </h3>

    </div>

    <div class="col-6 col-lg-2 d-flex  justify-content-end">

        <select id="rowsPerPage">
            <option value="5">5 resultados</option>
            <option value="10">10 resultados</option>
            <option value="25">25 resultados</option>
            <option value="50">50 resultados</option>
        </select>

    </div>

</section>

<section class="row title border-B border-celestial mb-2">

    <table id="table">

        <thead class="bg-bluelight">
            <tr>
                <th class="th"></th>
                <th class="th"></th>
                <th class="th"></th>
                <th class="th"></th>
                <th colspan="2">Tiempo de remplazo</th>
                <th class="th"></th>
                <th class="th"></th>
                <th class="th"></th>
            </tr>
            <tr>
                <th>N° serie</th>
                <th>Hélice</th>
                <th>Planeador</th>
                <th>Planeador</th>
                <th>Horas</th>
                <th>Años</th>
                <th>Estado</th>
                <th>Detalles</th>
                <th>Editar</th>
            </tr>
        </thead>

        <tbody class="bg-grayblue">
            <tr>
                <td>Dato 1</td>
                <td>Dato 2</td>
                <td>Dato 3</td>
                <td>Dato 3</td>
                <td>Dato 3</td>
                <td>Dato 3</td>
                <td>
                    <label class="toggle-switch">
                        <input class="chbTable" type="checkbox">
                        <div class="toggle-switch-background">
                            <div class="toggle-switch-handle"></div>
                        </div>
                    </label>
                </td>
                <td><img src="~/images/svg/circle-info-solid.svg" class="edit" /></td>
                <td><img src="~/images/svg/pen-to-square-solid.svg" class="edit" /></td>
            </tr>

        </tbody>

    </table>

</section>

<div id="paginated" class="justify-content-center d-flex my-2"></div>





@section Scripts {
    @{
        await Html.RenderPartialAsync("_TableScripts");
    }
}