<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EngineAir</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/forms.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EngineAir.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/componente.css" asp-append-version="true" />
</head>
<body class="container-fluid bg-lightgray p" id="body">

    <main role="main" class="row w ">


        @* °°°°°°°°°°°°°°°°°°°°°°°°°°°° * MENU * °°°°°°°°°°°°°°°°°°°°°°°°°°°°°° *@
        <section class="container bg-eas " id="menu">

            <div class="row bg-lightgray py-2 mb-2" id="slider-logo">

                <img src="~/images/svg/ENGINIE.svg" />

            </div>

            <div class="content-bars w ">

                <img src="~/images/svg/bars-solid.svg" id="bars" />

            </div>

            <div class="options  d-flex flex-column justify-content-center text-center align-items-center">

                <div class="d-flex flex-column justify-content-between w">

                    
                    <div class="row my-3 justify-content-around  w-80 p">

                        <a asp-controller="Home" asp-action="Motores" class="d-flex justify-content-between align-items-center ">
                          
                            <img src="~/images/svg/RegisterMotor.svg" class="options-icon" />

                            <h5 class="titles  align-items-center m-0"><b>Motores</b></h5>
                        </a>

                    </div>

                    <div class="row my-3 justify-content-around  w-80 p">

                        <a asp-controller="Home" asp-action="Helices" class="d-flex justify-content-between align-items-center ">
                            <img src="~/images/svg/RegisterPropeller.svg" class="options-icon" />

                            <h5 class="titles  align-items-center m-0"><b>Hélices</b></h5>
                        </a>

                    </div>

                    <div class="row my-3 justify-content-around  w-80 p">

                        <a asp-controller="Home" asp-action="Componentes" class="d-flex justify-content-between align-items-center  ">
                            <img src="~/images/svg/RegisterComponent.svg" class="options-icon" />

                            <h5 class="titles  align-items-center m-0"><b>Variantes</b></h5>
                        </a>

                    </div>

                </div>


            </div>

        </section>

        <section id="overlay" class="overlay"></section>

        @* °°°°°°°°°°°°°°°°°°°°°°°°°°°° * CONTENT * °°°°°°°°°°°°°°°°°°°°°°°°°°°°°° *@
        <section class="content" id="content">

            <header>

                <nav class="navbar navbar-expand-lg bg-white navbar-light py-3" id="nav">

                    <div class="container-fluid ">

                        <div class="col-9 col-lg-2">

                            <a class="navbar-brand" href="#"> <img src="~/images/svg/ENGINIE.svg" alt="Enginie Air SA de CV" class="logo" /> </a>

                        </div>

                        <div class="col justify-content-end d-flex">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="navbarNav">

                            <ul class="navbar-nav d-block d-lg-none  text-center">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Features</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Pricing</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                                </li>
                            </ul>

                        </div>


                        @* /////// SETTINGS \\\\\\\\\  *@

                        <div class="col d-none d-lg-block settings  text-end">

                            <img src="~/images/svg/gear-solid.svg" alt="Settings" id="settingsIcon">

                            <div id="optionsMenu" class="bg-pale text-light">
                                <label class="p-2" for="darkModeSwitch"><b>Configuración</b></label><br />
                                <label class="switch-label" for="darkModeSwitch"><b>Dark Mode:</b></label><br />
                                <label class="switch my-2">
                                    <input type="checkbox" id="darkModeSwitch">
                                    <span class="slider round"></span>
                                </label>
                            </div>

                        </div>


                    </div>
                </nav>

            </header>

            <div class="container-fluid render p">
                @RenderBody()
            </div>

        </section>

    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/FrontJS/layout/sliderBar.js" asp-append-version="true"></script>
    <script src="~/js/FrontJS/layout/darkMode.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>