<section class="row p border-eas forms">


    @*///////////////////////////// -BRAND- ///////////////////////////////////*@
    <aside class="col-12 col-lg-3 mt-2 p ">

        <div class="form-brand border-graylight rounded-3 text-light bg-bright container ">
            
            <h2><b>Marca</b></h2>
            
            <div class="row ">
                <h4><b>Nombre</b></h4>
                <input class="input-Form border-gray" type="text" />
            </div>

            <div class="row py-3">
                <input type="submit" class="submit " value="Agregar" />
            </div>

            <div class="brand-table border mb-2"></div>

        </div>

    </aside>

    @*///////////////////////////// -MODEL- ///////////////////////////////////*@
    <aside class="col-12 col-lg-9 mt-2 p">

        <div class="form-model border-graylight bg-celestial text-light  container rounded-3 ">
            <h2><b>Modelo</b></h2>
           
            <div class="row py-2">
                
                <div class="col  ">
                    <h4><b>Marca</b></h4>

                    <select class="input-Form ">
                        <option value="Maraca" selected></option>
                        <option value="Maraca1">Marca</option>
                    </select>

                </div>
                
                <div class="col  ">
                    <h4><b>Nombre</b></h4>
                    <input class="input-Form border-gray" type="text" />
                </div>

            </div>
           
            <div class="row py-2">

                <div class="col   d-flex flex-column justify-content-center">
                    <h4><b>Horas de remplazo</b></h4>

                    <div class="row ">

                        <div class="col d-flex flex-column">
                            <input class="input-FormTwin border-gray" type="number" />
                            Hora
                        </div>:

                        <div class="col">
                            <input class="input-FormTwin border-gray" type="number" />
                            Minutos
                        </div>

                    </div>
                
                </div>

                <div class="col   d-flex flex-column justify-content-center">
                    
                    <h4><b>Tiempo de remplazo</b></h4>

                    <div class="row">

                        <div class="col">
                            <select class="input-FormTwin ">
                                <option value="Maraca" selected></option>
                                <option value="Maraca1">Años</option>
                                <option value="Maraca1">Meses</option>
                            </select>
                            Unidad de tiempo
                        </div>

                        <div class="col">
                            <input class="input-FormTwin border-gray" type="number" />
                            cantidad
                        </div>

                    </div>

                </div>

            </div>
           
            <div class="row py-2">
                <input type="submit" class="submit-Model " value="Agregar" />
            </div>

            <div class="model-table border mb-2"></div>

        </div>

    </aside>

</section>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_TableScripts");
    }
}