<section class="row " style="width:100%;">

    <div class="col-12 col-lg-4 my-2">
       
        <div class="brandForm bg-intense text-light rounded-2">

            <h2>Marca</h2>

            <form>

                <div class="row py-2">
                    <h5>Nombre</h5>
                    <input class="brandImput">
                </div>

                <div class="row py-2">
                    <input type="submit" value="Agregar" class="brandBtn" />
                </div>

            </form>

        </div>
    
    </div>
    
    <div class="col-12 col-lg-8 justify-content-center my-2">

        <div class="modelForm border rounded-2 text-center text-light bg-celestial">
            
            <h2>Modelo</h2>

            <form class="justify-content-center" style="width:100%;">

                <div class="row">

                    <div class="col">
                        <h5>Marca</h5>
                        <select name="select" class="brandImput">
                            <option value="value1">Value 1</option>
                            <option value="value2" selected>Value 2</option>
                            <option value="value3">Value 3</option>
                        </select>
                    </div>

                    <div class="col">
                        <h5>Nombre</h5>
                        <input class="brandImput">
                    </div>

                </div>

                <div class="row my-2">

                    <div class="col">
                        <h5>Horas de remplazo</h5>

                        <div class="row">

                            <div class="col">
                                <input class="brandImput">
                            </div>
                            :
                            <div class="col">
                                <input class="brandImput">
                            </div>

                        </div>

                    </div>

                    <div class="col">

                        <h5>Tiempo de remplazo</h5>

                        <div class="row">

                            <div class="col">
                                <select name="select" class="brandImput">
                                    <option value="value1">Value 1</option>
                                    <option value="value2" selected>Value 2</option>
                                    <option value="value3">Value 3</option>
                                </select>
                            </div>

                            <div class="col">
                                <input type="date" class="brandImput">
                            </div>

                        </div>
                        
                    </div>


                </div>

                <div class="row py-2">
                    <input type="submit" value="Agregar" class="medelBtn" />
                </div>

            </form>

        </div>

    </div>

</section>

<section class="row bg-pale" style="width:99%;">

    <div class="col-12 col-lg-4 text-light justify-content-center">

        <h2>Motor</h2>

        <form>

            <div class="row py-2">
                <h5>Modelo</h5>
                <select name="select" class="brandImput">
                    <option value="value1">Value 1</option>
                    <option value="value2" selected>Value 2</option>
                    <option value="value3">Value 3</option>
                </select>
            </div>

            <div class="row py-2">
                <h5>Planeador</h5>
                <select name="select" class="brandImput">
                    <option value="value1">Value 1</option>
                    <option value="value2" selected>Value 2</option>
                    <option value="value3">Value 3</option>
                </select>
            </div>

            <div class="row py-2">
                <h5>Hélice</h5>
                <select name="select" class="brandImput">
                    <option value="value1">Value 1</option>
                    <option value="value2" selected>Value 2</option>
                    <option value="value3">Value 3</option>
                </select>
            </div>

            <div class="row py-2">
                <h5>N° de serie</h5>
                <input class="brandImput">
            </div>

            <div class="row py-2">
                <input type="submit" value="Agregar" class="brandBtn" />
            </div>

        </form>

    </div>

    <div class="col-12 col-lg-8">

        <div class="border py-2"></div>

    </div>

</section>